@media (max-width: 991px) {
    .manu {
        display: none;
    }

    .menu-icon {
        display: flex;
        width: 75%;
        justify-content: flex-end;
    }

    .menu-icon span {
        border: 1px solid #fff;
        padding: 5px 10px;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .text h1 {
        font-size: 35px;
    }

    .text h1::before {
        display: none;
    }

    .item {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {

    .logo {
        width: 20%;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .text h1 {
        font-size: 30px;
    }

    .text h1::before {
        display: none;
    }

}

@media (max-width: 575px) {
    .text h1 {
        font-size: 25px;
    }

    .text h1::before {
        display: none;
    }

    .item {
        text-align: center;

    }

    .item h5::after {
        display: none;
    }
}